<!DOCTYPE html>
<html>

<head>
  <title>Consultance</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <!-- <link routerLink="layout/styles/layout.css" rel="stylesheet" type="text/css" media="all"> -->
</head>

<body id="top">
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <div class="wrapper row0">
    <div id="topbar" class="clear">
      <!-- ################################################################################################ -->
      <nav>
        <ul>
          <li><a routerLink="/blog">Home</a></li>
          <li><a routerLink="/about">About Us</a></li>
          <li><a routerLink="/contactus">Contact Us</a></li>
          <li><a routerLink="/register">Registration</a></li>
          <li><a routerLink="/login">Login</a></li>
        </ul>
      </nav>
      <!-- ################################################################################################ -->
    </div>
  </div>
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <div class="wrapper row1">
    <header id="header" class="clear">
      <!-- ################################################################################################ -->
      <div id="logo" class="fl_left">
        <h1>
          <a routerLink="/blog"><img style="max-width: 150px" src="/../../../assets/images/PENGURUSAN.png" /></a>
        </h1>
      </div>
      <div class="fl_right">
        <form class="clear" method="post" action="#">
          <fieldset>
            <legend>Search:</legend>
            <input type="text" value="" placeholder="Search Here" />
            <button class="bi bi-search" type="submit" title="Search">
              <em>Search</em>
            </button>
          </fieldset>
        </form>
      </div>
      <!-- ################################################################################################ -->
    </header>
  </div>
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <div class="wrapper row2">
    <div class="rounded">
      <nav id="mainav" class="clear">
        <!-- ################################################################################################ -->
        <ul class="clear">
          <li class="active"><a routerLink="/blog">Home</a></li>
          <li><a routerLink="/login"> Online bookshop</a></li>
          <li><a routerLink="/services">Outreach programs</a></li>
          <li><a routerLink="/services">Online pictures shop</a></li>
          <li><a routerLink="/services">Online museum</a></li>
          <li>
            <a class="drop" routerLink="#">Others </a>
            <ul>
              <li><a routerLink="/services">Advisory</a></li>
              <li><a routerLink="/services">Assurance</a></li>
              <li><a routerLink="/services">Consulting</a></li>
              <li>
                <a routerLink="/services">Training & Online courses</a>
              </li>
            </ul>
          </li>
        </ul>
        <!-- ################################################################################################ -->
      </nav>
    </div>
  </div>
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <div class="wrapper">
    <div id="slider">
      <div id="slide-wrapper" class="rounded clear">
        <!-- ################################################################################################ -->
        <figure id="slide-1">
          <a class="view" routerLink="/services"><img src="/../../../assets/images/UP.png" alt="" /></a>
          <figcaption>
            <h2>PENGURUSAN CONSULTANT</h2>
            <p>
              Was gradually formulated into a business unit in January 2021.
              With over many years of experience of the founder in consulting
              industry
              <!-- <p class="right"><a routerLink="#">Continue Reading &raquo;</a></p> -->
            </p>
          </figcaption>
        </figure>
        <figure id="slide-2">
          <!-- <a class="view" routerLink="#"
              ><img src="images/demo/slider/2.png" alt=""
            /></a> -->
          <figcaption>
            <h2>Aliquatjusto quisque nam</h2>
            <p>
              Attincidunt vel nam a maurisus lacinia consectetus magnisl sed
              ac morbi. Inmaurisus habitur pretium eu et ac vest penatibus id
              lacus parturpis.
            </p>
            <p class="right">
              <a routerLink="#">Continue Reading &raquo;</a>
            </p>
          </figcaption>
        </figure>
        <figure id="slide-3">
          <!-- <a class="view" routerLink="#"
              ><img src="images/demo/slider/3.png" alt=""
            /></a> -->
          <figcaption>
            <h2>Aliquatjusto quisque nam</h2>
            <p>
              Attincidunt vel nam a maurisus lacinia consectetus magnisl sed
              ac morbi. Inmaurisus habitur pretium eu et ac vest penatibus id
              lacus parturpis.
            </p>
            <p class="right">
              <a routerLink="#">Continue Reading &raquo;</a>
            </p>
          </figcaption>
        </figure>
        <figure id="slide-4">
          <!-- <a class="view" routerLink="#"
              ><img src="images/demo/slider/4.png" alt=""
            /></a> -->
          <figcaption>
            <h2>Aliquatjusto quisque nam</h2>
            <p>
              Attincidunt vel nam a maurisus lacinia consectetus magnisl sed
              ac morbi. Inmaurisus habitur pretium eu et ac vest penatibus id
              lacus parturpis.
            </p>
            <p class="right">
              <a routerLink="#">Continue Reading &raquo;</a>
            </p>
          </figcaption>
        </figure>
        <figure id="slide-5">
          <!-- <a class="view" routerLink="#"
              ><img src="images/demo/slider/5.png" alt=""
            /></a> -->
          <figcaption>
            <h2>PENGURUSAN CONSULTANT</h2>
            <p>
              Was gradually formulated into a business unit in January 2021.
              With over many years of experience of the founder in consulting
              industry, we are to be known in the industry as being
              competitive and dedicated to our passion for completing our
              projects on time, under budget and to a high standard of
              quality. In consulting, we ought to earn the reputation of being
              an outstanding through collaboration with stakeholders and by
              utilizing innovative design and best practice consulting
              techniques. The use of effective consulting techniques, when it
              is applicable, produces tremendous efficiencies in consulting
              sustainability, audibility and cost savings.
            </p>
            <p class="right">
              <a routerLink="#">Continue Reading &raquo;</a>
            </p>
          </figcaption>
        </figure>
        <!-- ################################################################################################ -->
        <ul id="slide-tabs">
          <li><a routerLink="/blog">All About The Pang cots</a></li>
          <li><a routerLink="/contactus">Contact Us</a></li>
          <li><a routerLink="/services">Our Services</a></li>
          <li><a routerLink="/services">IT Services</a></li>
          <li><a routerLink="/services">Latest News &amp; Events</a></li>
        </ul>
        <!-- ################################################################################################ -->
      </div>
    </div>
  </div>
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <div class="wrapper row3">
    <div class="rounded">
      <main class="container clear">
        <!-- main body -->
        <!-- ################################################################################################ -->
        <div class="group btmspace-30">
          <!-- Left Column -->
          <div class="one_quarter first">
            <!-- ################################################################################################ -->
            <ul class="nospace">
              <li class="btmspace-15">
                <a routerLink="#"><em class="heading">ONLINE BOOKSHOP </em>
                  <img class="borderedbox" src="../../../assets/images/books.jpeg" alt="" /></a>
              </li>
              <li class="btmspace-15">
                <a routerLink="#"><em class="heading">ONLINE PICTURES SHOP </em>
                  <img class="borderedbox" src="../../../assets/images/images (2).jpeg" alt="" /></a>
              </li>
              <li class="btmspace-15">
                <a routerLink="#"><em class="heading">ONLINE MUSEUM </em>
                  <img class="borderedbox" src="../../../assets/images/images.jpeg" alt="" /></a>
              </li>
              <li>
                <a routerLink="#"><em class="heading">ONLINE COURSES</em>
                  <img class="borderedbox" src="../../../assets/images/images (1).jpeg" alt="" /></a>
              </li>
            </ul>
            <!-- ################################################################################################ -->
          </div>
          <!-- / Left Column -->
          <!-- Middle Column -->
          <div class="one_half">
            <!-- ################################################################################################ -->
            <h2>Latest News &amp; Events</h2>
            <ul class="nospace listing">
              <li class="clear">
                <!-- <div class="imgl borderedbox"><img src="../../../" alt=""></div> -->
                <p class="nospace btmspace-15">
                  <a routerLink="#">PENGURUSAN CONSULTANT.</a>
                </p>
                PENGURUSAN CONSULTANT was gradually formulated into a business
                unit in January 2021. With over many years of experience of
                the founder in consulting industry, we are to be known in the
                industry as being competitive and dedicated to our passion for
                completing our projects on time, under budget and to a high
                standard of quality. In consulting, we ought to earn the
                reputation of being an outstanding through collaboration with
                stakeholders and by utilizing innovative design and best
                practice consulting techniques. The use of effective
                consulting techniques, when it is applicable, produces
                tremendous efficiencies in consulting sustainability,
                audibility and cost savings.
              </li>
            </ul>
            <p class="right">
              <a routerLink="/services">Click here to view all of the latest news and events
                &raquo;</a>
            </p>
            <!-- ################################################################################################ -->
          </div>
          <!-- / Middle Column -->
          <!-- Right Column -->
          <div class="one_quarter sidebar">
            <!-- ################################################################################################ -->
            <div class="sdb_holder">
              <h6>Virtual Tour</h6>
              <div class="mediacontainer">
                <video style="height: 80%; width: 80%" class="video" autoplay loop muted>
                  <source type="video/mp4" src="../../../assets/video/Skyscrapers - 80724.mp4" />
                </video>
              </div>
            </div>
            <div class="sdb_holder">
              <h6>Quick Information</h6>
              <ul class="nospace quickinfo">
                <li class="clear">
                  <a routerLink="/register"><img src="../../../assets/images/books.jpeg" alt="" />
                    ONLINE BOOKSHOP REGISTRATION
                  </a>
                </li>
                <li class="clear">
                  <a routerLink="/login"><img src="../../../assets/images/image book.PNG" alt="" />
                    ONLINE BOOKSHOP LOGIN</a>
                </li>
              </ul>
            </div>
            <!-- ################################################################################################ -->
          </div>
          <!-- / Right Column -->
        </div>
        <!-- ################################################################################################ -->
        <!-- ################################################################################################ -->
        <div id="twitter" class="group btmspace-30">
          <div class="one_quarter first center">
            <a routerLink="#"><i class="fa fa-twitter fa-3x"></i><br />
              Follow Us On Twitter</a>
          </div>
          <div class="three_quarter bold">
            <p>
              PENGURUSAN CONSULTANT was gradually formulated into a business
              unit in January 2021. With over many years of experience of the
              founder in consulting industry, we are to be known in the
              industry as being competitive and dedicated to our passion for
              completing our projects on time, under budget and to a high
              standard of quality
            </p>
          </div>
        </div>
        <!-- ################################################################################################ -->
        <!-- ################################################################################################ -->
        <div class="group">
          <h2>Quickly Find What You Are Looking For</h2>
          <div class="one_quarter first">
            <!-- ################################################################################################ -->
            <ul class="nospace">
              <li><a routerLink="/login">Online book shop</a></li>
              <li><a routerLink="/services">Online picture shop</a></li>
              <li><a routerLink="/services">Online museum</a></li>
              <li>
                <a routerLink="/services">Online courses & Training </a>
              </li>
            </ul>
            <!-- ################################################################################################ -->
          </div>
          <div class="one_quarter">
            <!-- ################################################################################################ -->
            <ul class="nospace">
              <li><a routerLink="/services">Advisory</a></li>
              <li><a routerLink="/services">Assurance</a></li>
              <li><a routerLink="/services">Outreach programs</a></li>
            </ul>
            <!-- ################################################################################################ -->
          </div>
          <div class="one_quarter">
            <!-- ################################################################################################ -->

            <!-- ################################################################################################ -->
          </div>
          <div class="one_quarter">
            <!-- ################################################################################################ -->
            <ul class="nospace"></ul>
            <!-- ################################################################################################ -->
          </div>
        </div>
        <!-- ################################################################################################ -->
        <!-- / main body -->
        <div class="clear"></div>
      </main>
    </div>
  </div>
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <div class="wrapper row4">
    <div class="rounded">
      <footer id="footer" class="clear">
        <!-- ################################################################################################ -->
        <div class="one_third first">
          <figure class="center">
            <!-- <img
                class="btmspace-15"
                src="../../../assets/images/worldmap.png"
                alt=""
              /> -->
            <figcaption>
              <a routerLink="#">Find Us With Google Maps &raquo;</a>
            </figcaption>
          </figure>
        </div>
        <div class="one_third">
          <address>
            Kiembe Samaki<br />
            Zanzibar<br />
            +255 777 427 054<br />
            <br />
            <br />
            <!-- <i class="fa fa-phone pright-10"></i> xxxx xxxx xxxxxx<br /> -->
            <i class="fa fa-envelope-o pright-10"></i>
            <a routerLink="abdallahally@suza.ac.tz">abdallahally@suza.ac.tz</a>
          </address>
        </div>
        <div class="one_third">
          <p class="nospace btmspace-10">
            Stay Up to Date With What's Happening
          </p>
          <ul class="faico clear">
            <li>
              <a class="faicon-twitter" routerLink="#"><i class="bi bi-twitter"></i></a>
            </li>
            <li>
              <a class="faicon-linkedin" routerLink="#"><i class="bi bi-linkedin"></i></a>
            </li>
            <li>
              <a class="faicon-facebook" routerLink="#"><i class="bi bi-facebook"></i></a>
            </li>

            <li>
              <a class="faicon-rss" routerLink="#"><i class="bi bi-rss"></i></a>
            </li>
          </ul>
          <form class="clear" method="post" action="#">
            <fieldset>
              <legend>Subscribe To Our Newsletter:</legend>
              <input type="text" value="" placeholder="Enter Email Here&hellip;" />
              <button class="bi bi-logout" type="submit" title="Submit">
                <em>Submit</em>
              </button>
            </fieldset>
          </form>
        </div>
        <!-- ################################################################################################ -->
      </footer>
    </div>
  </div>
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->

  <!-- JAVASCRIPTS -->
  <script src="layout/scripts/jquery.min.js"></script>
  <script src="layout/scripts/jquery.fitvids.min.js"></script>
  <script src="layout/scripts/jquery.mobilemenu.js"></script>
  <script src="layout/scripts/tabslet/jquery.tabslet.min.js"></script>
</body>

</html>