<div class="container">
  <!-- <div class="row">
    <div class="col-md-4">
       <mat-icon class="folder" color="accent" >edit_note</mat-icon>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>changePassword</span>
    </div>
</div> -->
  <h3 style="text-align: center"> <mat-icon class="folder" color="accent" >settings</mat-icon>Change Password</h3>
  <form [formGroup]="loginForm" >
    <div class="row">
      <div class="col-md-4">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Enter new password</mat-label>
          <input
          matInput
          formControlName="password"
          placeholder="Enter new password"
          autocomplete="off"
          required
        />
        <mat-error align="end"> Please enter new password </mat-error>
        </mat-form-field>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-md-6">
        <button
          mat-raised-button
          color="primary"
        (click)="submit()"
        >
          Save
        </button>
      </div>
      <!-- &nbsp;&nbsp;&nbsp; -->
      <div class="col-md-6">
        <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
      </div>
    </div>
  </form>
</div>
