.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.example-card {
  max-width: 400px;
}
#top{
  margin-top: 5rem;
}
.responsive {
  width: auto;
  height: auto;
}
button{
  width: 100%;
}
